/*CONTAINERS*/

.clear {
    clear:both;
}

.M-view-ctn {
    width:calc(100%);
    float:left;
}

.M-navbar {
    width:60px;
    height:100vh;
    float:left;
}

.M-navbar-nav {
    width:60px;
}

.LF-loginheader-ctn {
    width:100%;
    margin-bottom:40px;
}

.LF-loginfield-ctn {
    width:22vw;
}

.LF-login-ctn {
    width:fit-content;
    height:100vh;
    padding:20px;
    background:#EEE;
}

.LF-register-ctn {
    position: relative;
    bottom:0;
}

.LF-login-btn {
    width:80px;
    height:30px;
    float:right;
    margin-top:15px !important;
    font-size:12px !important;
}

.LF-register-btn {
    width:120px;
    height:30px;
}

.LF-adornment {
    width:16px;
    height:18px;
}

.PV-project-item{
  background-color: #ADD8E6;
  width: 500px;
  height: 100px;
  position: fixed;
  left: 30%;
  top: 20%;
  transform: translate(-30%, -25%);
  outline: solid black;
}

.PV-project-title {
    left: 0px;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 100%;
    font-size: 20px;
}

.PV-project-status {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 16px; 
}

.PV-project-date{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 14px;
}

.PC-main-title {
    font-size:24px;
    font-weight:bold;
    padding:10px 0px 10px 10px;
}

.PC-sub-title {
    width:100%;
    font-size:24px;
    font-weight:bold;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

.PC-form-ctn {
    width:fit-content;
    margin-left:10%;
    margin-bottom:20px;
    float:left;
    background:#EEE;
    outline:2px solid #CCC;
}

.PC-detail-ctn {
    width:20vw;
    float:left;
    background:red;
}

.PC-textfield-ctn {
    width:700px;
    margin:0 auto;
    padding-bottom:20px;
}

.PC-textfield-ctn .MuiTextField-root{
    width:680px;
    background:#FFF;
    margin:10px !important;
}

.PC-label-ctn {
    width:680px;
    margin-left:10px !important;
    margin-bottom:20px !important;
}

.PC-label-ctn .MuiInput-root{
    width:280px;
    margin:10px !important;
}

.PC-textfield-ctn .MuiButton-root{
    margin:0px 20px 20px 0px;
    float:right;
}